@import '~antd/dist/antd.css';
body {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 90%;
    background-color: #fff
}

ul, ol {
    list-style: none;
}
.body-wrap {
    text-overflow: ellipsis;
    max-width: 60ch;
    white-space: nowrap; 
    overflow:hidden;
}